.red{
    color: red;
}
.allGroups{
    background-color: lightgray;
    font-size: 25px;
    width: 80%;
    margin: 0;
}
.headerInfoGroups{
    width: 80%;
    background-color: gray;
    color: white;
    margin: 0;
}
.headerInfoUser{
    width: 80%;
    background-color: gray;
    color: white;
    margin: 20px 0 0 0;
    border-radius:  10px 10px 0 0 ;
    padding: 10px 0;
}
.userInfo{
    width: 80%;
    background-color: lightgray;
    margin: 0 0 -8px 0;
}
.width-200{
    width: 200px;
}
.width-150{
    width: 150px;
}
.center{
    margin: 0 10%;
}